.card-icon {
  width: 137px;
  height: 137px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}

.card-icon.blue {
  background-color: #5094f2;
}

.card-icon.red {
  background-color: #d94748;
}

.card-icon.yellow {
  background-color: #ebbb11;
}

@media (min-width:960px) {
  .card-icon {
    margin-top: 20px;
    width: 186px;
    height: 186px;
    font-size: 108px;
  }

  .card-line {
    display: none;
  }
}