header .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 22px 26px 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .grid-item {
  height: 100%;
}

.hero .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 30px;
  padding-top: 20px;
  padding-bottom: 4px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}

@media (max-width: 480px) {
  .hero .grid {
    flex-direction: column;
    align-items: center;
  }
}

.hero .grid-item {
  padding: 0 10px;
}

.hero .grid-item.width-3-5 {
  padding: 10px 17px 0;
}

.card .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 35px 0px;
}

@media (min-width:960px) {
  .cards-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .card .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .card .grid .grid-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}


@media (max-width:480px) {
  .card .grid {
    flex-direction: column;
  }
}

/* .card .grid-item {
  padding: 0px;
} */

.card .grid-item.right {
  padding-left: 10px;
}

.shopping-card-figure {
  height: 162px;
  max-width: 215px;
}

.shopping-card-figure img {
  height: 100%;
  width: 100%;
}

.shopping .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 35px;
}

@media (min-width:960px) {
  .shopping .grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .shopping-card-figure {
    height: 279px;
    max-width: 371px;
  }

}

@media (max-width:960px) {
  .shopping .grid-item {
    max-width: 512px;
    /* display: flex;
  flex-direction: column;
  justify-content: center; */
  }
}

.shopping .grid-item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}