.nav-burger {
  height: 44px;
  display: none;
}

@media (max-width: 960px) {
  .nav-burger {
    display: inline-block;
  }
}

.nav-burger img {
  height: 100%;
  width: auto;

}

.nav-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 0;
}

@media (max-width: 960px) {
  .nav-big {
    display: none;
  }
}

.nav-item {
  padding-left: 20px;
  -webkit-box-sizing: inline-block;
  box-sizing: inline-block;
}



.a-nav {
  color: #6c6c6c;
  font-family: "Segoe WPN";
  font-size: 20px;
  font-weight: 400;

}

.a-nav:hover {
  padding-bottom: 26.5px;
  border-bottom: solid #00e0d0 3px;
  text-decoration: none;
}


.a-nav:active,
.is-active {
  padding-bottom: 26.5px;
  border-bottom: solid red 3px;

}