.hero-picture {
  height: 436px;
  max-width: 345px;

}

@media (max-width:960px) {
  .hero-picture {
    height: 223px;
    max-width: 177px;
    margin: 0 auto;
  }
}

@media (max-width:480px) {

  .hero-button,
  .hero-subtitle,
  .hero-title,
  .hero-button-a {
    margin: 0 auto;
    text-align: center;
  }
}

.hero-picture>img {
  height: auto;
  width: 100%;
}

.hero {
  position: relative;
}



.hero-decore {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url("../../pictures/decore.png");
  background-repeat: repeat-x;
  background-position: bottom;
  z-index: 1;
}

@media (max-width:960px) {
  .hero-decore {
    display: none;
  }
}

@media (min-width:960px) {
  .hero .grid {
    padding: 35px 0 19px;
  }
}


.section-background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -2;
}

.section-background>img {
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  height: 100%;
}


.section-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-image: -o-linear-gradient(left, #09052f 0%, #311d5e 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(#09052f), to(#311d5e));
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  opacity: 0.01;
}

.hero .section-foreground {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

@media (min-width:1200px) {
  .hero .grid::before {
    content: "";
    background-image: url("../../pictures/Layer_4.svg");
    background-size: 20px 80px;
    width: 25px;
    height: 62px;
    background-repeat: no-repeat;
    /* margin-right: 200px; */
    /* margin: auto 0; */
    position: absolute;
    left: -50px;
    top: 225px;
    z-index: 1000;

  }

  .hero .grid::after {
    content: "";
    background-image: url("../../pictures/Layer_4_copy.svg");
    background-size: 20px 80px;
    width: 25px;
    height: 62px;
    background-repeat: no-repeat;
    /* margin-right: 200px; */
    /* margin: auto 0; */
    position: absolute;
    right: -55px;
    top: 225px;
    z-index: 1000;
  }
}

@media (max-width:960px) {
  .container-little {
    padding: 0 20px;
  }
}

.shopping .grid-item>* {
  margin: 0 auto;
}

.footer {
  margin: 26px auto;

}